packaging/windows/selow/*.inf binary
packaging/windows/selow/*.sys binary
packaging/windows/selow/*.cat binary
packaging/windows/selow/LICENSE.txt -text -whitespace
src/main/resources/tools/uboot-flash text eol=lf
