<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Popoto Discover Mobile</string>
	<key>CFBundleName</key>
	<string>Popoto Discover Mobile</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>This app uses the local network to discover and communicate with Popoto hydrophone devices.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_popoto._udp</string>
	</array>
</dict>
</plist>
